body { 
    background-color: rgb(153, 148, 148);
}

#header-nav { 
    background-color: #ea772a; 
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('VB-logos.png') no-repeat center center;
    background-size: contain;
    width: 150px;             /* Set logo width to 190px */
    height: 150px;            /* Set logo height to 190px */
}

.navbar-brand { 
    padding-top: 25px;
    padding-left: 150px;
    margin: auto;
}

.navbar-brand h1 { /* Website name */
    font-family: 'Lora', serif;
    color: #000000;
    font-size: 39px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #403f3e;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

.navbar-brand a {
    text-decoration: none;
  }

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 15px;
    margin-left: 20px
}