body { 
    background-color: rgb(172, 163, 163);
}

#header-nav { 
    background-color: #e26944; 
    border-radius: 0;
    border: 0;
    height: 130px; /* Increase the height of the navbar */
}

#logo-img {
    background: url('Logo.png');
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}
