body { 
    background-color: rgb(172, 163, 163);
}

#header-nav { 
    background-color: #ea772a; 
    border-radius: 0;
    border: 0;
}


#logo-img {
    background: url('Logo.png') no-repeat center center;
    background-size: contain;
    width: 200px;             /* Set logo width to 190px */
    height: 200px;            /* Set logo height to 190px */
}